---
title: Alex Collins
layout: home
---

        <!-- About Section -->
        <section id="about" class="bg-light-gray">
            <div class="container">
                  <div class="row">
                      <div class="col-lg-12 text-center">
                          <h2 class="section-heading">About</h2>
                          <h3 class="section-subheading text-muted">
                            A driven, dedicated, hands-on team leader, technical leader and architect.
                          </h3>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="images/alex-collins-225.jpg" class="img-responsive img-circle" alt="">
                        </div>
                    </div>
                    <div class="col-sm-8">
                      <h6>Languages and Frameworks</h6>
                      <p>Java (JEE, JAX, JPA, Spring Boot, Hibernate, JDBC, JNI, JUnit, TestNG, JMeter, Gatling), Groovy/Grails, TCL/TK, Ruby, TCP/IP, HTTP, XML, JSON, REST, SOAP, HTML5, JavaScript/jQuery, CSS3</p>

                      <h6>Databases</h6>
                      <p>DB2, Microsoft SQL Server, PostgreSQL, MySQL, Informix, Oracle, MongoDB, Hazelcast</p>

                      <h6>Containers and Operating Systems</h6>
                      <p>Kubernetes, Docker, UNIX, Linux (RHEL, Cent-OS, Ubuntu), OS-X, Windows Server</p>

                      <h6>Application Servers</h6>
                      <p>Tomcat, JBoss, Jetty</p>

                      <h6>Tools</h6>
                      <p>Maven, Ant, Hudson, Jenkins, CruiseControl, Git, SVN, CVS, Puppet, Vagrant, JIRA, Trac, RT, Bugzilla, Drupal, WordPress</p>

                      <h6>Process</h6>
                      <p>Agile (Scrum/Kanban), TDD, BDD, UML</p>

                      <hr/>

                      <p>I've lived in London since 2002.</p>

                    </div>
                </div>
            </div>
        </section>
