%section
  %a{:href => "https://leanpub.com/selenium-webdriver-book", :onclick => " ga('send', 'event', {eventCategory: 'Outbound Link', eventAction: 'click', eventLabel: event.target.href, transport: 'beacon'})"}
    %img{:src => "/images/cover.png", :style => "float:left;margin:5px"}
  %h5
    %b Big news!
    I've been working hard getting <b>Selenium WebDriver: From Foundations To Framework</b> ready and it is nearly ready!
  %p
    Free, Selenium 3.0 compatible, and at over 420 pages this book will help you learn the fundamentals of the WebDriver API such as locating and interacting with web pages, through advanced topics such as Page Objects and mobile testing, and finally teach you how to build up your own web application testing framework.
    %a{:href => "https://leanpub.com/selenium-webdriver-book", :onclick => " ga('send', 'event', {eventCategory: 'Outbound Link', eventAction: 'click', eventLabel: event.target.href, transport: 'beacon'})"}
      Get the free book!
