%footer.post-footer
  %section.share
    %a{:href => "https://leanpub.com/selenium-webdriver-book"}
      %img{:src => "/images/cover.png"}
  %section.author
    %h5
      %b Big news!
      I've been working hard getting <b>Selenium WebDriver: From Foundations To Framework</b> ready and it is nearly ready!
    %p Over 400 pages and dozens of specific ways you can use to get the most of WebDriver. This practical handbook gives you instantly-useful solutions for important areas like interacting with and testing web applications and using the WebDriver APIs.
    %p
      %a{:href => "https://leanpub.com/selenium-webdriver-book"} Get the free book!
