<!-- begin advert -->
<div class="row">
  <div class="col-sm-2">
    <a href="https://leanpub.com/selenium-webdriver-book"><img src="/images/cover.png" class="img-responsive" alt="Book Cover"></a>
  </div>
  <div class="col-sm-10 text-muted">
    <h2 class="section-heading  text-center">Selenium WebDriver In Practice</h2>
    <p>
      <b>I am the co-author of Selenium WebDriver: From Foundations To Framework</b>, a free hands-on guide to dozens of specific techniques you can use to get the most of WebDriver in your test automation development. This practical handbook gives you instantly-useful solutions for important areas like interacting with and testing web applications and using the WebDriver APIs.
    </p>
    <p>
      <a href="https://leanpub.com/selenium-webdriver-book" class="btn btn-primary">Learn More</a>
    </p>
  </div>
</div>
<!-- end advert -->
