<!-- begin advert -->


    <div class="row">
        <div class="col-sm-8 text-muted">
          <h2 class="section-heading  text-center">Selenium WebDriver In Practice</h2>
          <p>
            <b>I am the co-author of Selenium WebDriver in Practice</b>,  a hands-on guide to dozens of specific techniques you can use to get the most of WebDriver in your test automation development. Following a cookbook-style Problem/Solution/Discussion format, this practical handbook gives you instantly-useful solutions for important areas like interacting with and testing web applications and using the WebDriver APIs.
          </p>
          <p>
            <a href="https://www.manning.com/books/selenium-webdriver-in-practice?a_aid=SWIP&amp;a_bid=9b2d2dba" class="btn btn-primary">Learn More</a>
        </div>
          <div class="col-sm-4">
              <a href="https://www.manning.com/books/selenium-webdriver-in-practice?a_aid=SWIP&amp;a_bid=9b2d2dba"><img src="/images/liang_cover255.jpg" class="img-responsive img-circle" alt="Book Cover"></a>
          </div>
    </div>
</div>
<!-- end advert -->
