<!-- begin related -->
<% related = blog.articles.map {|a| {:a => a, :tags => ((current_page.data.tags || '').gsub(/ /,'').split(',') & a.tags)}}.find_all{|a| a[:tags].length>0}.sort{|a,b| b[:tags].length <=> a[:tags].length}.map{|a| a[:a]}.find_all{|a| a.title!=current_page.data.title}[0...3] %>
<% if (related.length > 0) %>
<h4>Related</h4>
<ol>
  <% related.each do |article| %>
  <li><%= link_to article.title, article %></li>
  <% end %>
</ol>
<% end %>
<!-- end related -->
