<!-- begin training -->
<div class="row">
  <div class="col-sm-4">
      <img src="/images/alex-docker-255.jpg" class="img-responsive img-circle" alt="Docker">
  </div>
  <div class="col-sm-8 text-muted">
    <h2 class="section-heading text-center">Docker and Kubernetes Training</h2>
    <p>
      With experience for building and deploying applications with Docker for production systems, I'm pleased to be able to offer tailored hands-on training in both <b>Docker</b> and <b>Kubernetes</b>. Covering everything from an <b>introduction to Docker</b>, to building and deploying a <b>robust enterprise scale containerised micro-service architecture</b>.
    </p>
    <p>
      <a href="/#contact" class="btn btn-primary">Contact To Find Out More</a>
    </p>
  </div>
</div>
<!-- end training -->
